# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
analyze_output.txt
test_analyze.sh

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains a lot of workspace configuration
# which should not be committed to source control.
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/ios/Flutter/App.framework/
/ios/Flutter/Flutter.framework/
/ios/Flutter/Flutter.podspec
/ios/Flutter/Generated.xcconfig
/ios/Flutter/app.flx
/ios/Flutter/app.zip
/ios/Flutter/flutter_assets/
/ios/Flutter/flutter_export_environment.sh
/ios/ServiceDefinitions.json
/ios/Runner/GeneratedPluginRegistrant.*
/android/app/src/main/assets/
/android/local.properties
/android/key.properties
/android/app/build/
/android/build/
/macos/Flutter/ephemeral/
/macos/Runner/Configs/AppInfo.xcconfig
/macos/Flutter/GeneratedPluginRegistrant.swift

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
